# Node-modules & build files
/node_modules
/public/build
/public/hot

# Laravel specifieke bestanden
/vendor
/bootstrap/cache
/public/storage
/storage/*.key
/storage/pail
/storage/oauth-private.key
/storage/oauth-public.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/storage/videos/

# SQLite database (indien gebruikt)
/database/database.sqlite

# Configuratie- en gevoelige bestanden
.env
.env.backup
.env.production
/auth.json

# PHPUnit & andere test-bestanden
/.phpunit.cache
.phpunit.result.cache
.phpactor.json

# Debug en log bestanden
npm-debug.log
yarn-error.log

# Homestead & andere VM-configs
Homestead.json
Homestead.yaml

# Editor specifieke bestanden
/.idea
/.vscode
/.nova
/.fleet
/.zed

# Ignoring Mac, Windows en Linux systeem bestanden
.DS_Store
Thumbs.db
